.container{
    display: flex;
}

.item-list{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 30%;
}

.item{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

