.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 30px;
    background: rgb(173, 216, 230, 0.6);
    border: 1px solid;
    justify-content: center;
    align-items: center;
}

.schedules{
    height: 100%;
    overflow: auto;
    width: 100%;
}

/* 일정 박스 */
.schedule-box{
    display: flex;
    height: 7%;
    background: rgb(245, 245, 245, 0.5);
}

.schedule-box:hover {
    background: rgb(245, 245, 245);
  }

/* 색띠와 일정제목 */
.schedule{
    text-align: center;
    flex-grow: 1;
}

/* 일정 제목 */
.title{
    font-size: 1.5em;
    cursor: pointer;
}

/* 색띠 */
.check-point{
    width: 3%;
    /* background: yellow; */
}

/* 체크박스 */
.checkbox{
    zoom: 1.8;
    cursor: pointer;
    align-self: center;
}

