.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 30px;
    background: rgb(173, 216, 230, 0.6);
    border: 1px solid;
}

.schedules{
    overflow: auto;
}

/* 가장 바깥 */
.schedule-box{
    display: flex;
    justify-content: space-between;
    width: 50%;
    background: whitesmoke;
    
    box-shadow: 3px 2px 2px black;
}

/* 색띠와 일정제목 */
.schedule{
    display: flex;
    flex-grow: 1;
}

/* 일정 제목 */
.title{
    font-size: 1.5em;
    cursor: pointer;
    margin-left: 10px;
}

/* 색띠 */
.check-point{
    width: 3%;
    background: blue;
}

/* 체크박스 */
.checkbox{
    zoom: 1.8;
    cursor: pointer;
    align-self: center;
}

