.schedule-main{
    background: rgb(238, 130, 238, 0.3) ;
    height: 100%;
}

.container{
    display: flex;
    height: 70vh;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header{
    height: 50px;
}

.btn{
    height: 2em;
    font-size: 1em;
    float: right;
    margin-right: 5%;
}

.slide{
    width: 30%;
    height: 100%;
}

.arrow{
    text-align: center;
}