.schedule-main{
    padding: 0 10% 0 10%;
    background: lightslategray;
    height: 100%;
}

.container{
    display: flex;
    flex-wrap: wrap;
    height: 45vh;
}

.btn{
    height: 2em;
    font-size: 1em;
    float: right;
    margin-right: 5%;
}

